
.footer {width: 100%;
  background: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;

}

.footer-logo h2 {
  color: #f4b400;
}
.footer-logo h2:hover{  
    transform: scale(1.05);
  border-radius: 20px;}
.footer-links a {
  color: #f4b400;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}
.footer-links:hover{ 
    transform: scale(1.05);}

.footer-socials a {
  margin: 0 8px;
  font-size: 1.5rem;
  color: #f4b400;
  transition: 0.3s;
}

.footer-socials a:hover {
    transform: scale(1.05);
    border-radius: 100%;

color: inherit;  }

.footer-bottom {
  margin-top: 15px;
  font-size: 0.9rem;
}
