.privacy-container {
    width: 100%;
    max-width: 1366px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.privacy-container h1{color: #222;
text-align: center;}
.privacy-container h2 {
    color: #222;
    
}

p, ul {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

a {
    color: #ff5733;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
